# Virtual Environments
.venv/
venv/
ENV/

# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing & Linting Caches
.pytest_cache/
.ruff_cache/

# Application Logs & Reports
logs/*.log
reports/*.csv
reports/*.html

# Archives
*.zip
*.tar.gz
*.tgz

# OS Files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
